<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body>
<div layout:fragment="content">
    <script>
        window.addEventListener("load", function () {
        let comId = [[${comId}]];
        let gender = [[${gender}]];
        let sortMode = [[${sortMode}]];
        let page = [[${page}]];

      function filterRedirect() {
      let url = "/employee/list?company=" + comId + "&gender=" + gender;
      url = url + "&sort=" + sortMode + "&page=" + page;
      window.location.href = url; // redirect
  }

            const comFilter = document.getElementById("filterCompany");
            comFilter.value = comId;
            comFilter.addEventListener("change", function (e) {
                comId = e.target.value;
                filterRedirect();
            });
            const sortMenu = document.getElementById("sortOptions");
            sortMenu.value = sortMode;
            sortMenu.addEventListener("change", function (e) {
                sortMode = e.target.value;
                filterRedirect();
            });
            const genderFilter = document.getElementById("filterGender");
            genderFilter.value = gender;
            genderFilter.addEventListener("change", function () {
            gender = genderFilter.value;
            filterRedirect();
            })

            const pageLinks = document.querySelectorAll("#pagibar > a");
            pageLinks.forEach(link => {
              link.addEventListener("click", (e) => {
                  e.preventDefault();
                  page = parseInt(link.getAttribute("data"));
                  filterRedirect();
              });
            });
        });
    </script>
    <h2>EMPLOYEE LIST</h2>
    <div class="filterContainer">
        Company:
        <select id="filterCompany">
            <option value="0">All companies</option>
            <option th:each="comp : ${companies}"
                    th:value="${comp.id}"
                    th:text="${comp.name}" />
        </select>
        Sort:
        <select id="sortOptions">
            <option value="0">Latest</option>
            <option value="1">Oldest</option>
            <option value="2">By name ASC</option>
            <option value="3">By name DESC</option>
        </select>
        Gender:
        <select id="filterGender">
            <option value="0" th:selected="${gender == 0}">All genders</option>
            <option value="1" th:selected="${gender == 1}">Female</option>
            <option value="2" th:selected="${gender == 2}">Male</option>
        </select>

    </div>
    <section class="employees">
        <table border="1">
        <div class="employeeHeaders">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Image</th>
            <th>Age</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Company</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </div>
        <div class="employeeBody">
            <div class="employee" th:each="employee : ${employees}">
              <tr>
                <td th:text="${employee.id}"></td>
                <td><a th:href="'/employee/detail/' + ${employee.id}" th:text="${employee.name}">Name</a></td>
                <td>
                    <img th:src="${employee.image}" width="100" height="100" />
                </td>
                 <td th:text="${employee.age}"></td>
                 <td th:text="${employee.address}"></td>
                 <td th:text="${employee.gender == 2 ? 'Male' : 'Female'}"></td>
                 <td th:text="${employee.company != null ? employee.company.name : 'No Company'}"></td>
                 <td><a th:href="'/employee/update/' + ${employee.id}">Update</a></td>
                <td><a th:href="'/employee/delete/' + ${employee.id}">Delete</a></td>
              </tr>
            </div>
        </div>
        </table>
    </section>


    <div class="pagination" id="pagibar">
        <a th:data="${i}"
           th:each="i: ${#numbers.sequence(0, pages - 1)}"
           href="#"
           th:text="${i + 1}" />
    </div>
</div>
</body>
</html>